html, body {color: #000; background-color: #0e1829;background-image:url(images/background.png); background-repeat:repeat-x;color: #363636; margin: 0; padding: 0; font-size:9pt; font-family: Verdana, Arial, Helvetica, sans-serif;}

table {width: 100%;}
table td {padding: 0; border-width: 0; vertical-align: top; }

a {color: #666; text-decoration: none; font-weight:normal; background-color: transparent;}
a:hover {color: #ff6600;}

h1 {font-size:130%;}
h2 {font-size:110%;}
h3 {font-size:105%;}
h4 {font-size:100%;}
h5 {font-size:95%;}
ul { margin: 2px; padding: 2px; list-style: disc inside; text-align: left;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; color: #263f68;}

.myBox {
    margin: 0.2in auto;
    color: #969696;
    width:99%;
    padding:2px;
    text-align: left;
    background-color:#fff;color:#000000;background-color:#fff;
    border: 2px solid #969696;
   	border-radius: 			9px;
	-moz-border-radius: 	9px;
	-webkit-border-radius: 	9px;
}


div.wrapper { 
    width:1000px; 
    margin:0 auto; 
    padding:0;
    /* overflow: auto; */
    overflow: hidden;
}
	
button, input[type=submit], input[type=button], input[type=reset], .xo-formbuttons, .formButton {
	width: 				auto;
	background-color: 	 #787878 ;
	padding: 			6px 10px;
	color: 				#fff;

}
button:focus, input[type=submit]:focus, input[type=button]:focus, input[type=reset]:focus, .xo-formbuttons:focus, .formButton:focus {}
button:hover, input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, .xo-formbuttons:hover, .formButton:hover {background-color: #ee6600;}
input[type=text], input[type=password], input[type=checkbox], input[type=file], textarea {}
input[type=text], input[type=password], input[type=file] {
	width: auto;
	border-radius: 				5px;
		-moz-border-radius: 	5px;
		-webkit-border-radius: 	5px;
}
input[type=text]:hover, input[type=password]:hover, input[type=file]:hover, input[type=checkbox]:hover, textarea:hover {}
input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, input[type=checkbox]:focus, textarea:focus {}
input[type=checkbox], input[type=radio] { margin: 3px; padding:2px; background-color: transparent;}

.item {border: 0px solid #666;padding: 10px;margin-bottom: 20px;}
.itemHead {padding:5px; background-image:url(images/top.gif); background-repeat:repeat-x; color: #fff;-moz-border-radius: 8px; /* FF1+ */
  -webkit-border-radius: 8px; /* Saf3+, Chrome */
   border-radius: 8px; /* Opera 10.5, IE 9 */}
.itemInfo {text-align: right; padding: 4px;}
.itemTitle a {font-size: 1.2em; font-weight: bold; font-variant: small-caps; color: #fff; background-color: transparent;}
.itemPoster {font-size: .9em; font-style:italic;}
.itemPostDate {font-size: .9em; font-style:italic;}
.itemStats {font-size: .9em; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemFoot {text-align: right; padding: 4px; background-color: #b9d8fd;   -moz-border-radius: 8px; /* FF1+ */
  -webkit-border-radius: 8px; /* Saf3+, Chrome */
   border-radius: 8px; /* Opera 10.5, IE 9 */}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

#topheader {
    margin :                0;
    padding :               0;
    height:                 40px;
    padding:                2px;
	background-image:url(images/top.gif); background-repeat:repeat-x;color: #a4a4a4;background-color:#a4a4a4;
   -moz-border-radius: 8px; /* FF1+ */
  -webkit-border-radius: 8px; /* Saf3+, Chrome */
   border-radius: 8px; /* Opera 10.5, IE 9 */
}
 /**   nav**/
div#maitsco-buttons-container{

position:relative;height:44px;color:#E0E0E0;width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;	
	
}
div#maitsco-buttons-container div{
position:relative;height:44px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#fff padding:0 0 0 20px;
}
div#maitsco-buttons-container a{
	color:  #fff;
	font-weight: bold;
	display: block;
	float: left;
	height: 44px;
	margin: 0px 10px 2px 2px;
	padding: 4px 4px 4px 4px;
	overflow: hidden;


}
/** FOR IE **/
div#maitsco-buttons-container a#but-home{ width: 80px; }
div#maitsco-buttons-container a#but-news{ width: 110px; }
div#maitsco-buttons-container a#but-album{ width: 130px; }
div#maitsco-buttons-container a#but-forums{ width: 90px; }
div#maitsco-buttons-container a#but-contact{ width: 120px; }


div#maitsco-buttons-container a:hover{
color:#fff;background:transparent url(images/menu_hover.gif) repeat-x
}
div#maitsco-buttons-container a.selected{
color:#fff;background:transparent url(images/menu_hover.gif) repeat-x
}
div#maitsco-buttons-container a img{
	float: left;
	margin-right: 5px;
}
div#maitsco-buttons-container a span{
	display: block;
	float: right;
	margin-top: 8px;
}
div#maitsco-buttons-container a.get{
	display: block;
	float: right;
	padding: 6px;
	height: 44px;
	margin: 2px;
	background: none;
}
 
#search_top_1
{
	background:#fff url(images/search.png) 3px -30px no-repeat;
	padding: 2px 5px 2px 20px;
	text-align:left;
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 3px;
	border: 1px solid #666;
	height: 16px;
	
}
#search_top_2
{
	background:#fff url(images/search.png) 3px -30px no-repeat;
	padding: 2px 5px 2px 20px;
	float:right;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 3px;
	border: 1px solid #666;
	height: 16px;
}
	
#header {
    margin :                0;
    padding :               0;
    height:                 80px;
    padding:                2px;
    color:                  #fff;

}
#headerbanner {width: 100%; vertical-align: middle; text-align:center;}
/* fix for banner */
#xo-bannerfix {
    /*position:               absolute;*/
	/*position: relative;*/
	float: right;
    top:                    5px;
    right:                  1px;
    /*width:                  480px;*/
    height:                 72px;
    background:             url(bg-ad-top.png) no-repeat;
	padding:				6px;
	z-index:99;
}
#xo-bannerfix object, #xo-bannerfix img {display: block;}
/* end fix for banner */
#headerlogo img {padding: 0;}
#headerbar {height: 220px; widht:1000px;border-bottom: 2px solid #fff; border-top: 2px solid #fff;border-left: 2px solid #fff;border-right: 2px solid #fff;background-image: url(images/bg_body.jpg);  -moz-border-radius: 8px; /* FF1+ */
  -webkit-border-radius: 8px; /* Saf3+, Chrome */
   border-radius: 8px; /* Opera 10.5, IE 9 */
}
#shortabout{height: 220px; widht:400px;font-family:Tahoma;font-size:12px;color:#CCCCCC;padding-top:6px;padding-left:6px;padding-right:6px;}
/*======= Slider ========*/
#slider1 {
    width: 550px; /* important to be same as image width */
    height: 220px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}

#slider1Content {
    width: 550px; /* important to be same as image width or wider */
    position: absolute;
	top: 2px;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 1px 13px;
    width: 550px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 130px !important;
	height: 220px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 220px;
}
ul { list-style-type: none;}

#leftcolumn {float: left;width: 190px;background-color: #fff;border-right-width: 1px;border-right-style: solid;border-right-color: #CCCCCC;font-family: Tahoma;
padding: 5px;}
#leftcolumn th, #rightcolumn th {color: #666666; vertical-align: middle;}
.blockTitle {color: #fff;font-weight: bold;text-align: center;background-color: #4d4d4d;font-family: Arial, Tahoma;  font-size: 14px; padding:3px; font-weight: bold;line-height:30px;
   	border-radius: 			5px;
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;


}
#leftcolumn .blockContent, #rightcolumn .blockContent {padding: 5px;margin-bottom: 10px;}

#rightcolumn {width: 190px;background-color: #e7eaf1;border-left-width: 1px;border-left-style: solid;border-left-color: #CCCCCC;font-family: Tahoma; padding: 5px;}
#rightcolumn th {background-color: #2A75C5; color: #fff; vertical-align: middle;}
#rightcolumn .blockTitle {color: #fff;font-weight: bold;text-align: center;background-color: #3484b1;font-family: Arial, Tahoma;  font-size: 14px; padding:3px; font-weight: bold;line-height:30px;      	
     border-radius: 			5px;
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;}
#rightcolumn .blockContent {padding: 3px; }

#centercolumn {font-size: 12px; padding: 2px 2px 2px 2px;}
#centercolumn th {background-color: #263f68; color: #fff; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 3px 3px 3px 3px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {color: #fff;font-weight: bold;text-align: center;background-color: #3484b1;font-family: Arial, Tahoma;  font-size: 14px; padding:3px; font-weight: bold;line-height:30px;      	
	box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;
		filter:progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=135, Strength=5); 
		zoom: 1;
}
		

#centerCcolumn .blockContent, #bottomCcolumn .blockContent { padding: 3px; margin-right: 2px;  margin-left: 2px; margin-bottom: 2px;}

#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
        width: 50%; padding: 2px 10px 2px 2px;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
color: #fff;font-weight: bold;text-align: center;background-color: #4d4d4d;font-family: Arial, Tahoma;  font-size: 14px; padding:3px; font-weight: bold;line-height:30px;
	box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
		-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;
				filter:progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=135, Strength=5); 
		zoom: 1;


}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
        padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 1.2em;
}

#content {text-align: left; padding: 8px;}



#footer {
	width: 1000px;
	height: 65px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
    background-image:url(images/top_bg.png); background-repeat:repeat-x;color: #a4a4a4;background-color:#a4a4a4;
	border-bottom: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	 -moz-border-radius: 8px; /* FF1+ */
  -webkit-border-radius: 8px; /* Saf3+, Chrome */
   border-radius: 8px; /* Opera 10.5, IE 9 */
}

#footer a {
	color: #d5e6e6;
}
#footer_1{
	width:28%;
	text-align:center;
	float : left;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	height:45px;
    border-right: 2px solid #cccccc;
}
#footer_2{
	width:30%;
	text-align:center;
	float : left;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	height:45px;
	border-right: 2px solid #cccccc;
}
#footer_3{
	width:27%;
	float : left; 
	padding-left:30px;
	padding-right:0px;
	background-color: transparent;
	height:45px;
}
	
#footer_4{
	width:4%;
	float : left;
	padding-top:30px;
	padding-right:5px;
}
	

#mainmenu a {
	display: block;
	margin: 0;
	padding: 4px;
	background: url(images/icon-off.png) no-repeat left center;
	border-bottom: 1px dotted #1d2122;
	color: #1d2122;
	font-weight:normal;
	text-decoration: none;

}
#mainmenu a:hover {
	background: url(images/icon-on.png) no-repeat left center;
	text-decoration: none;
	color: #006593;
}
#mainmenu a.menuTop, #mainmenu a.menuMain {padding-left: 11px; }
#mainmenu a.menuSub {
	padding-left: 11px;
	background: url(none);
	font-size: 80%;
	color: #006593;
	text-decoration: none;

}

#mainmenu a.menuSub:hover {
	color: #006593z;
}
#mainmenu a.maincurrent {background: url(images/icon-off.png) no-repeat left center;color:#006593;}

#usermenu { font-size : .9em;}
#usermenu a {display : block;margin-bottom : 4px;background-color : #f5f5f5;padding : 4px;color : #222;text-decoration : none;border : 1px solid #3a89b6; font-weight : normal;}
#usermenu a:hover { background-color : #3a89b6;color : #fff;border : 1px solid #252525;}
#usermenu a.menuTop {padding-left : 5px;}
#usermenu a.menuMain {padding-left : 5px;}
#usermenu a.highlight {background: url(images/icon-on.png) no-repeat left center;color : #ff6600;text-decoration : none;}


caption {font-weight: bold;}
th, thead {padding-left:4px;background-image:url(images/menu_hover.gif); background-repeat:repeat-x;  color: #fff;font-weight:bold;text-transform:uppercase;line-height: 30px; font-size: 13px;}
.outer {border: 1px solid #c0c0c0;padding: 5px;}
.head {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
.even {background-color: #fff; padding: 5px;}
.odd {background-color: #E9E9E9; padding: 5px;}
.foot {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
tr.even td {background-color: #fff; padding: 5px;}
tr.odd td {background-color: #E9E9E9; padding: 5px;}
tr.foot td {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}

.errorMsg,.confirmMsg, .resultMsg  { padding: .8em; text-align:center; margin-bottom: 1em; border: 2px solid #ddd;}
.errorMsg  { background-color: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.confirmMsg { background-color: #FFF6BF; color: #817134; border-color: #FFD324; }
.resultMsg { background-color: #E6EFC2; color: #529214; border-color: #C6D880; }
.errorMsg a { background-color: transparent; color: #D12F19; }
.confirmMsg a { background-color: transparent; color: #817134; }
.successMsg a { background-color: transparent; color: #529214; }

.xoopsCode {display:block; width:90%; max-height:300px;margin-left:.5em;overflow:auto;background-color:#fff;padding:.5em;color:#555;font-size:1.1em;font-family:monospace;border:1px solid #d0d0d0;text-align:left;}
.xoopsQuote { background: #fff; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; font-size:.9em;}
blockquote {font-style : italic; line-height:1.4em;}
.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #263f68; font-weight:bold; border: 1px solid #c0c0c0; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #263f68; font-weight:bold; font-size: .9em;}

.comUserRank {margin:2px;}
.comUserRankText {margin-left:5px;font-size:.9em;font-weight:bold;}
.comUserRankImg {border:0;}
.comUserName a { color: #fff;font-weight: bold;}
.comUserImg {margin:5px 0 10px 5px;padding:3px;border:1px solid #ddd !important;box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
		-moz-box-shadow: 		2px 3px 4px rgba(0,0,0,0.5);
		-webkit-box-shadow: 	2px 3px 4px rgba(0,0,0,0.5);
}
.comUserImg:hover {opacity:.5; filter: alpha(opacity=50);}}
.comDate {font-weight: normal; font-style: italic; font-size: .8em;}
.comDateCaption {font-weight: bold; font-style: normal;}

/*============== Styles for system_siteclosed.html  (override system module) =================*/
#xo-siteclose {
    width:                  400px;
    margin:                 100px auto;
    background-color:       #e2e2e2;
    padding:                30px;
    color:                  #000;
    font-size:              1.2em;
    font-weight:            bold;
    text-align:             center;
    border:                 1px solid #666;
	
}
#xo-userbar_siteclosed {
    display:                block;
    padding-top:            8px;
    padding-right:          1em;
    color:                  #fff;
    font-size :             .8em;
    text-align :            center;
	
}
#xo-userbar_siteclosed form {
    display:                inline;
    padding:                0;
}

#xo-userbar_siteclosed input, #xo-userbar_siteclosed button {
    width:                  100px;
    background-color:       transparent;
    color:                  #fff;
    font-size :             .9em;
    margin:                 2px;
}
#xo-userbar_siteclosed input:hover {}

/*============== Styles for system_redirect.html (override system module) =================*/
#xo-redirect {
    width:                  780px;
    margin:                 50px auto;
    padding:                1em;
    font-weight:            bold;
    text-align:             center;
	background-color: #27416b;
	padding-bottom: 40px;
	padding-top: 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	border: 5px solid #dbdbdb;
}
#xo-redirect .notreload {
    height:                 28px;
    background-color:       inherit;
    padding-top:            2px;
    color:                  #000;
}
#xo-redirect .notreload a {
    background-color:       inherit;
    color:                  #ff0000;
    font-weight:            bold;
    text-decoration:        none;
}
#xo-redirect .message {
    min-height:             60px;
    background-color:       #f3f3f3;
    padding:                1em;
    color:                  #333;
    font-size:              1.2em;
    text-align:             center;
    border:                 1px solid #666;
}
#xo-redirect .message img{
    padding:                1em;
}
/*============== Styles for pagenav =================*/
#xo-pagenav {
    margin:                 7px 0;
    text-align:             center;
    font-size:              1.05em;
}
#xo-pagenav a {
    text-decoration:        none;
}
#xo-pagenav a:hover {
    color:                  #fff;
    background-color:       #263f68;
    border:                 1px solid #fff;
}
.xo-pagact {
    margin:                 0;
    padding:                5px 12px;
    color:                  #fff;
    background-color:       #3484b1;
    border:                 1px solid #fff;
}
.xo-counterpage, .xo-pagarrow {
    margin:                 2px;
    padding:                4px .5em;
    color:                  #000;
    background-color:       #fff;
    border:                 1px solid #3b6aae;
	
}
.xo-counterpage:hover {}
.xo-pagarrow {
    letter-spacing:         0.2em;
}
/*======= Tinymce background textarea ========*/
body.mceContentBody {
    margin:                 0;
    padding:                0;
    background-color:       #fff;
    background-image:       none;
    color:                  #000;
}



#search_system {
	padding: 5px;
}
#search_system input.submit {
   vertical-align: bottom;
}
#username {
	width: 140px;
	height: 16px;
	border: none;
	background: url(images/login.png) 0 -20px no-repeat;
	color: #000000;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	margin-bottom: 5px;
	margin-bottom: 10px;
}

#password {
	width: 140px;
	height: 16px;
	border: none;
	background: url(images/password.png) 0 -20px no-repeat;
	color: #000000;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;

}


.olivee-itemq-BlockcolumnLeft { background-color: red; }

.olivee-itemq-BlockcolumnCenter { background-color: green; }

.olivee-itemq-BlockcolumnRight { background-color: blue; }

.olivee-itemq-TableBlockcolumn { width: 100%; float: left; margin-top: 2% !important; }
		.olivee-item-1-4 { width: 25%; float: left; margin-top: 0.5% !important;

							border-radius: 			5px;
							-moz-border-radius: 	5px;
							-webkit-border-radius: 	5px;
							box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
							-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
							-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;}

.olivee-item-1-2 { width: 50%; float: left; margin-top: 0.5% !important;
							border-radius: 			5px;
						-moz-border-radius: 	5px;
						-webkit-border-radius: 	5px;
						box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
						-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
						-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;}

.olivee-item-1-3 { width: 33.33333%; float: left; margin-top: 0.5% !important;
							border-radius: 			5px;
							-moz-border-radius: 	5px;
							-webkit-border-radius: 	5px;
							box-shadow: 			0 20px 10px -10px rgba(255,255,255,0.3) inset;
								-moz-box-shadow: 	0 20px 10px -10px rgba(255,255,255,0.3) inset;
								-webkit-box-shadow: 0 20px 10px -10px rgba(255,255,255,0.3) inset;		}

.olivee-item-1-1 { width: 100%; float: left; margin-top: 0.5% !important; }

.olivee-item-2-3 { width: 66.66666%; float: left; margin-top: 0.5% !important; }

.olivee-item-2-4 { width: 50%; float: left; margin-top: 0.5% !important; }

.olivee-item-3-4 { width: 75%; float: left; margin-top: 0.5% !important; }
.olivee-item-contentdiv {
margin: 5px;
}